# Strings in python

## strings are collection of characters from [a-z,0-9,A-Z,...]

In [2]:
# string is an immutable data structure in string

name="vikash"
name[0]="b"

TypeError: 'str' object does not support item assignment

In [3]:
a = "vikash" # normal string
print(a)

vikash

In [9]:
c = ''' # multiline string
hello
world
hello hello
'''

In [10]:
print(c)

hello
world
hello hello

In [11]:
ord('a') # ascii value of given character

97

In [12]:
chr(65) # returns character with given ascii value

'A'

## Operations that we can perform over strings

In [15]:
a=1
b=2
c=3

In [17]:
print(str(a)+"-"+str(b)+"-"+str(c)) # its more complex to print in this way

1-2-3

In [18]:
print("%d-%d-%d" % (a,b,c)) # in c style and static

1-2-3

In [21]:
print("{}-{}-{}".format(a,b,c)) # python way of formatting the strings

1-2-3

In [23]:
print("{1}-{2}-{0}".format(a,b,c)) # in python formatting of string provides us changing the order also

2-3-1

In [24]:
print("{lastname},{firstname}".format(firstname ="vikash", lastname = "kumar"))

kumar,vikash

In [26]:
firstname="vikash"
lastname = "kumar"

print(f"{lastname},{firstname}") # most convinient way of formatting in string

kumar,vikash

In [27]:
d ="            vikash            "  # this is a string with lot of spaces
print(d)

            vikash

In [28]:
# to remove whitespaces from a string
print(d.strip())

# this is useful when we are taking input from user and by mistake user gives extra spaces then this cases happen

vikash

In [29]:
a = input()

  yes

In [31]:
a == "yes"

False

In [32]:
a.strip() == "yes"

True

In [33]:
a = input()

1 2 3 4 5

In [36]:
a

'1 2 3 4 5'

In [37]:
a.split(" ") # it will split all the arguments and it will give me list of arguments

['1', '2', '3', '4', '5']

In [39]:
a = "vikash"

In [40]:
a.replace('v','i') # so what it does it replaces the occurence of first argument wiyth second one in string

'iikash'

In [42]:
b = "aaaabbbacccc"

In [43]:
b.replace('a','l') # every a is replaced by l

'llllbbblcccc'

In [46]:
b.count('a')  # it counts the occurences of a character in string

5