# List

### important points upon list

1.ordered
2.mutable
3.accessed using index
4.list are heterogrenous

## creating a list

In [1]:
a=[1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a=['vikash',1,3,5,print]

In [5]:
a[0]

'vikash'

In [7]:
a[4]("hello world")

hello world

In [8]:
len(a)

5

In [9]:
a+=a

In [10]:
a

['vikash', 1, 3, 5, <function print>, 'vikash', 1, 3, 5, <function print>]

In [11]:
a*5

['vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>,
 'vikash',
 1,
 3,
 5,
 <function print>]

In [14]:
1 in a

True

In [15]:
for x in a:
    print(x)

vikash
1
3
5
<built-in function print>
vikash
1
3
5
<built-in function print>

## indexing and slicing a list

In [27]:
a=[1,2,3,4,5]

In [28]:
a[3]

4

In [29]:
a[-1] #last index access

5

In [30]:
a[-2]

4

In [31]:
a[0:3]  # slicing to get sub list

[1, 2, 3]

In [32]:
a[0:4:2]

[1, 3]

In [34]:
# most elegant way of reversing a string
a[::-1]

[5, 4, 3, 2, 1]

In [35]:
# to check a string is palindrome or not

s ="vikash"
at="ababa"

s == s[::-1]

False

In [36]:
at==at[::-1]

True

### Updating the list

In [51]:
a=[1,2,3,4,5]

In [52]:
a.insert(1,9)

In [53]:
a

[1, 9, 2, 3, 4, 5]

In [54]:
a.append(86)

In [55]:
a

[1, 9, 2, 3, 4, 5, 86]

### delete list elements

In [56]:
a=[1,2,3,4,5]

In [57]:
a.pop() # popping from last

5

In [58]:
a.pop(1) # popping of element at particular index

2

In [59]:
a

[1, 3, 4]

In [60]:
a.remove(3) # it removes first occurence of given object in parameter

In [61]:
a

[1, 4]

In [62]:
del a # it deletes object from python scope

In [63]:
a

NameError: name 'a' is not defined

### Sorting and reversing

In [64]:
a=[6 ,9,2,6,0,8,2,45,32]

In [65]:
a.sort()

In [66]:
a

[0, 2, 2, 6, 6, 8, 9, 32, 45]

In [67]:
a.reverse()

In [68]:
a

[45, 32, 9, 8, 6, 6, 2, 2, 0]

In [69]:
for i in reversed(a): # print in reverse method
    print(i)

0
2
2
6
6
8
9
32
45